#root {
  position: relative;
  height: 100vh;
}

#spinner {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.ui.sortable.table thead th.no-sort {
  cursor: default;
}
.ui.sortable.table thead th.no-sort:hover {
  color: rgb(0, 0, 0, 0.87);
  background: #f9fafb;
}

.records-container .table tr.hide {
  display: none;
}
